<div class="modalbar">
  <mat-dialog-content class="mat-typography">
    <h1 class="">Editar Usuario</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <mat-dialog-content>
        <mat-form-field style="width: 100%">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="name" /> </mat-form-field
        ><br />
        <mat-form-field style="width: 100%">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="surname" /> </mat-form-field
        ><br />

        <mat-form-field style="width: 100%">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="mobile" /> </mat-form-field
        ><br />

        <mat-form-field style="width: 100%">
          <mat-label>Correo</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
          /> </mat-form-field
        ><br />

        <mat-form-field style="width: 100%">
          <mat-label>Tipo de Usuario</mat-label>
          <mat-select formControlName="type">
            <mat-option>Seleccione un tipo</mat-option>
            <mat-option value="vendor">Vendedor</mat-option>
            <mat-option value="admin">Administrador</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <input type="file" [(ngModel)]="files"  /> -->
        <button type="button" mat-button (click)="fileInput.click()">
          Seleccionar imagen {{ files?.name }}
        </button>

        <input
          type="file"
          #fileInput
          hidden
          (change)="onFileSelected($event)"
        />
        <br />
        <img
          *ngIf="images.length > 0"
          mat-card-image
          [src]="images[images.length - 1].url"
          width="20%"
          alt="Photo of a Shiba Inu"
        />
      </mat-dialog-content>

      <mat-dialog-actions>
        <button mat-button type="button" (click)="closeDialog(null)">
          Cancelar
        </button>
        <button mat-button color="primary" type="submit">Guardar</button>
        <ng-container *ngIf="userType">
          <button mat-button color="accent" (click)="delete()">Eliminar</button>
        </ng-container>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
