<ng-container matColumnDef="symbol">
  <h2>Tracking</h2>
</ng-container>

<ng-container matColumnDef="symbol">
  <h2>Consultas</h2>
</ng-container>
<!-- Consultas -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by number"
    >
      Id.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by name">
      Nombre
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by description"
    >
      Descripción
    </th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dateCreated">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by dateCreated"
    >
      Fecha
    </th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  #paginatorS="matPaginator"
  [pageSizeOptions]="[5, 10, 20, 30]"
  showFirstLastButtons
  aria-label="servicios"
>
</mat-paginator>

<!--  -->
<!--  -->
<!-- Examenes -->
<ng-container matColumnDef="symbol">
  <h2>Exámenes</h2>
</ng-container>
<table
  mat-table
  [dataSource]="dataSourceE"
  class="mat-elevation-z8"
  style="margin-bottom: 3%"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by number"
    >
      Id.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="diagnostico">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by diagnostico"
    >
      Diagnostico
    </th>
    <td mat-cell *matCellDef="let element">{{ element.diagnostico }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="motivo">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by motivo"
    >
      Motivo
    </th>
    <td mat-cell *matCellDef="let element">{{ element.motivo }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="createdAt">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by createdAt"
    >
      Fecha
    </th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsE"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsE"></tr>
</table>

<mat-paginator
  #paginatorE="matPaginator"
  [pageSizeOptions]="[5, 10, 20, 30]"
  showFirstLastButtons
  aria-label="Examenes"
>
</mat-paginator>

<!--  -->
<!--  -->
<!-- Examenes -->
<ng-container matColumnDef="symbol">
  <h2>Reservaciones</h2>
</ng-container>
<table
  mat-table
  [dataSource]="dataSourceR"
  class="mat-elevation-z8"
  style="margin-bottom: 3%"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by number"
    >
      Id.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="horaInicio">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by horaInicio"
    >
      Hora Inicio
    </th>
    <td mat-cell *matCellDef="let element">{{ element.horaInicio }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="horaFin">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by horaFin"
    >
      Hora fin
    </th>
    <td mat-cell *matCellDef="let element">{{ element.horaFin }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by fecha">
      Fecha
    </th>
    <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="comentario">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by comentario"
    >
      Comentario
    </th>
    <td mat-cell *matCellDef="let element">{{ element.comentario }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="estado">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by estado"
    >
      Estado
    </th>
    <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="createdAt">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by createdAt"
    >
      Fecha creación
    </th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsR"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsR"></tr>
</table>

<mat-paginator
  #paginatorR="matPaginator"
  [pageSizeOptions]="[5, 10, 20, 30]"
  showFirstLastButtons
  aria-label="Reservacion"
>
</mat-paginator>

<!--  -->
<!--  -->
<!-- Examenes -->
<ng-container matColumnDef="symbol">
  <h2>Constancias</h2>
</ng-container>
<table
  mat-table
  [dataSource]="dataSourceC"
  class="mat-elevation-z8"
  style="margin-bottom: 3%"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by number"
    >
      Id.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="comentario">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by comentario"
    >
      Comentario
    </th>
    <td mat-cell *matCellDef="let element">{{ element.comentario }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="createdAt">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by createdAt"
    >
      Fecha
    </th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsC"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsC"></tr>
</table>

<mat-paginator
  #paginatorC="matPaginator"
  [pageSizeOptions]="[5, 10, 20, 30]"
  showFirstLastButtons
  aria-label="Constancias"
>
</mat-paginator>

<!--  -->
<!--  -->
<!-- Examenes -->
<ng-container matColumnDef="symbol">
  <h2>Servicios</h2>
</ng-container>
<table
  mat-table
  [dataSource]="dataSourceS"
  class="mat-elevation-z8"
  style="margin-bottom: 3%"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by id">
      Id.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by name">
      Nombre
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by time">
      Tiempo
    </th>
    <td mat-cell *matCellDef="let element">{{ element.time }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="servicio">
    <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by servicio">
      Servicio
    </th>
    <td mat-cell *matCellDef="let element">{{ element.servicio }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dateCreated">
    <th
      mat-header-cell
      *matHeaderCellDef
      sortActionDescription="Sort by dateCreated"
    >
      Fecha
    </th>
    <td mat-cell *matCellDef="let element">{{ element.dateCreated }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsS"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsS"></tr>
</table>

<mat-paginator
  #paginatorSer="matPaginator"
  [pageSizeOptions]="[5, 10, 20, 30]"
  showFirstLastButtons
  aria-label="Servicios"
>
</mat-paginator>
