table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-new {
  margin-bottom: 1%;
}

.btn-action{
  margin: 2%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 30%;
  margin-left: 3%;
}